<!DOCTYPE HTML>
<!--
	Retrospect by TEMPLATED
	templated.co @templatedco
	Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
-->
<html>
	<head>
		<title>Curt's 30th Monopoly Pub Crawl</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<!--[if lte IE 8]><script src="assets/js/ie/html5shiv.js"></script><![endif]-->
		<link rel="stylesheet" href="assets/css/main.css" />
		<!--[if lte IE 8]><link rel="stylesheet" href="assets/css/ie8.css" /><![endif]-->
		<!--[if lte IE 9]><link rel="stylesheet" href="assets/css/ie9.css" /><![endif]-->
		<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
		<meta name="theme-color" content="#D2E5D2" />
	</head>
	<body class="landing">

		<!-- Banner -->
			<section id="banner">
				<img src="images/banner.jpg" />
			</section>

		<!-- One -->
			<section id="one" class="wrapper style1">
				<div class="inner">
					{{ range $i, $e := .Site.Data.locations.locations }}
					<article class="feature {{ .type }}">
						<div class="card {{ .type }}">
							{{ if .moncard }}
							<div class="title">
								{{ .moncard }}
							</div>
							{{ end }}
							{{ if .image }}
							<div class="img">
								<img src="images/{{ .image }}" />
							</div>
							{{ end }}
							<div class="content">
								<h2>
									{{ if .icon }}
									<i class="fas fa-{{ .icon }}"></i>
									{{ end }}
									{{ .name }}
								</h2>
								{{ if .time }}
								<p><i class="fas fa-clock"></i> Est Time: {{ .time }}</p>
								{{ end }}
								{{ if .address }}
								<p><i class="fas fa-map-marker"></i> <a href="https://maps.google.com?q={{ .name }} {{ .address }}" target="_blank">{{ .address }}</a></p>
								{{ end }}
								{{ if .desc }}
								<p>{{ .desc }}</p>
								{{ end }}
								{{ if .address }}
								<div class="map mobile">
									<a href="https://maps.google.com?q={{ .name }} {{ .address }}" target="_blank">
										<img class="lozad" data-src="https://maps.googleapis.com/maps/api/staticmap?center={{ .name }} {{ .address }}&amp;zoom=16&amp;size=400x300&amp;markers=color:{{ .type }}%7Clabel:{{ substr .moncard 0 1 }}%7C{{ .name }}{{ .address }}" />
									</a>
								</div>
								<div class="map desktop">
									<a href="https://maps.google.com?q={{ .name }} {{ .address }}" target="_blank">
										<img class="lozad" data-src="https://maps.googleapis.com/maps/api/staticmap?center={{ .name }} {{ .address }}&amp;zoom=16&amp;size=440x200&amp;markers=color:{{ .type }}%7Clabel:{{ substr .moncard 0 1 }}%7C{{ .name }}{{ .address }}" />
									</a>
								</div>
								{{ end }}
							</div>
						</div>
					</article>
					{{ end }}
					<div class="clear"></div>
					<div class="insta">
						<a href="https://www.instagram.com/explore/tags/curty30/?hl=en" target="_blank"><img src="images/insta.png"/></a>
					</div>
				</div>
			</section>

		<!-- Footer -->
			<footer id="footer">
				<div class="inner">
					<ul class="copyright">
							<li><a href="http://monopolyboardpubcrawl.com/">Monopoly Pub Crawl</a>.</li>
						<li>Images: <a href="http://unsplash.com">Unsplash</a>.</li>
						<li>Design: <a href="http://templated.co">TEMPLATED</a>.</li>
					</ul>
				</div>
			</footer>

		<!-- Scripts -->
			<script src="assets/js/jquery.min.js"></script>
			<script src="assets/js/skel.min.js"></script>
			<script src="assets/js/util.js"></script>
			<!--[if lte IE 8]><script src="assets/js/ie/respond.min.js"></script><![endif]-->
			<script src="assets/js/main.js"></script>

			<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-119815300-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', '{{ .Site.Params.Settings.googleanalytics }}');
</script>

<script src="https://cdn.jsdelivr.net/npm/lozad"></script>
<script>
	var observer = lozad(); // lazy loads elements with default selector as ".lozad"
	observer.observe();
</script>


	</body>
</html>